#base
setuptools~=68.2.0
python-gnupg~=0.5.2
pyspark~=3.5.1
black
twine
flake8
isort
seed-isort-config
bumpversion
importlib
pynamodb
#libs
plantuml>=0.3.0
build
#docs and design
numpydoc


#testing
tox
coverage
pytest
pytest-runner==4.4
pytest-cov
pytest-randomly

